.navbar{ 
    background-color:#339999; 
    border:1px solid black; 
}

.navbar > a{
    color: white !important;
    font-family: arial; 
    font-weight: normal;    
}
.bg-light{
    min-width: 800px;
    width: auto;
}
.header {
    font-family: arial; 
    color: white; 
    background-color:#339999; 
    border:1px solid black; 
    font-weight: normal;
}

.footer {
    font-family: Arial ;
    font-size: small;
    color: white;
    background-color:#339999;
    border:1px solid black;
    font-weight: normal;
    text-align: center;}			

#img_login{
    width:50px;
    height:50px;
}

.img_login_a{
    width:28px;
    height:25px;
}

.texto {
color: blue;
/*pointer-events: none;*/
text-align: justify;
}