.navbar { 
    background-color: teal;
    border:1px solid black; 
}
.titulo{
    font: caption;
    color: rgb(41, 81, 182) !important;
    font-family: serif; 
    font-weight: normal;  
}
.navbar > a{
    color: teal !important;
    font-family: arial; 
    font-weight: normal;  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color : yellow !important;
}
.user {
    color: yellow;
}
.bg-light{
    min-width: 800px;
    width: auto;
}
.header {
    font-family: arial;  
    background-color:#2818b3; 
    border-bottom:1px solid black; 
    font-weight: normal;
}

.footer {
    font-family: Arial ;
    font-size: small;
    color: white;
    background-color:teal;
    border-top:1px solid black;
    font-weight: normal;
    text-align: center;
    position: sticky;    
}			

.img_index{
    width:300px;
    height:auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.img_code{
    width:100px;
    height:auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.register-form {
    width: 540px;
    margin: 50px auto;
  	font-size: 15px;
}
.register-form label{
	width:150px;
	font-weight:bold;
	display:inline-block;
}
.register-form input{
	width:250px;
	display:inline-block;
}
.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form p {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
.card{
    width: 300px;
    margin: 5px;
}
